.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #1c1f24;
  padding: 10px;
  text-align: left;
}

.navbar-title {
  color: #61dafb;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: flex;
  width: 80%;
  margin-top: 20px;
}

.sidebar {
  width: 25%;
  background-color: #333740;
  padding: 20px;
  border-radius: 5px;
}

.search-section h2,
.genre-list h2 {
  color: #61dafb;
  font-size: 1.2rem;
}

.search-section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 2px solid #61dafb;
  border-radius: 5px;
  outline: none;
}

.search-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #61dafb;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.genre-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.genre-button {
  padding: 8px;
  font-size: 1rem;
  color: white;
  background-color: #4a4f58;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genre-button:hover {
  background-color: #61dafb;
}

.movie-list {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.movie-item {
  background-color: #1c1f24;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.movie-item:hover {
  transform: translateY(-5px);
}

.movie-poster {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
